.date {
  color: var(--text-color);
  font-weight: 400 !important;
}

.description {
  font-weight: 400 !important;
}

.description a {
  color: #8e8885;
  text-decoration: none;
  transition: 0.2s ease;
}

.description a:hover {
  text-decoration: underline;
}
