.date {
  color: var(--color-text);
  font-weight: 400 !important;
}

.description {
  font-weight: 400 !important;
}

.description a {
  color: #bebfb9;
  text-decoration: none;
  transition: 0.2s ease;
}

.description a:hover {
  text-decoration: underline;
}
