.containerHomepage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.containerHomepage a {
  color: var(--color-text);
  text-decoration: none;
}

.homepage {
  text-align: center;
  font-size: 3rem;
}

.homepage span {
  background: radial-gradient(circle, var(--color-box-1), var(--color-box-2));
  background-clip: text;
  color: transparent;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .homepage span {
    -webkit-background-clip: text;
    background-clip: text;
  }
}
