.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.homepage {
  text-align: center;
  font-size: 3rem;
}

.homepage span {
  background: radial-gradient(circle, var(--color-box-1), var(--color-box-2));
  background-clip: text;
  color: transparent;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .homepage span {
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.BtnTranslation {
  position: absolute;
  top: 8%;
  right: 3%;
  cursor: pointer;
  border-radius: 10px;
}

.BtnTranslation.active {
  background: linear-gradient(
    to bottom right,
    var(--color-box-1),
    var(--color-box-2)
  );
}
