.img {
  height: 300px;
  width: 334px;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin: 0 12%;
  height: 100%;
}

.container p {
  align-items: left;
  line-height: 2;
}

.containerFunFact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

.hyperlink a {
  color: white;
}

@media (max-width: 820px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    gap: 2rem;
  }

  .img {
    height: auto;
    max-width: 100%;
  }
}
