.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  /* align-items: center; */
  justify-content: center;
}

.containerSmall p {
  margin-bottom: 1rem;
  font-size: larger;
  color: #8e8885;
}

.organisationContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.text {
  display: none;
  /* opacity: 0; */
}

.containerEachBox:hover .text {
  /* opacity: 1; */
  display: block;
  color: var(--color-text);
  /* transition: 2s ease-out; */
}

@media (max-width: 485px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
  }
  .organisationContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
