.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  align-items: center;
  justify-content: center;
}

.text {
  display: none;
}

.containerEachBox:hover .text {
  display: block;
  color: var(--color-text);
}
