.textLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.containerMain {
  display: flex;

  gap: 6rem;
  margin: 0 12% 0 12%;
}

.goBack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDescriptionProject,
.containerCarouselComponent {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 820px) {
  .containerMain {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
