.containerProjects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.img {
  height: 350px;
  width: 580px;
}

.containerProjects a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
  text-align: center;
}
