@import "https://fonts.googleapis.com/css2?family=Iceland&family=Roboto:wght@100;300;400;500&display=swap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-main: #27292b;
  --color-text: #fffff5;

  --color-box-1: #17d7e7;
  --color-box-2: #2ce3a3;
}

body {
  font-family: "Roboto";
  background-color: var(--color-main);
  color: var(--color-text);
  margin-bottom: 3rem;
}

h1 {
  font-family: "Iceland";
  text-align: center;
  margin-top: 5%;
  font-size: 3rem;
  margin-bottom: 3rem;
}
