.left {
  text-align: right;
  line-height: 1.5;
  margin-top: 2rem;
}

.right {
  margin-top: 4rem;
  line-height: 1.5;
}

.margin {
  margin-top: 4rem;
}

.first {
  text-align: right;
  line-height: 1.5;
}

p em {
  font-size: smaller;
}
