.container {
  margin: 2rem;

  display: flex;

  gap: 1rem;
  margin-bottom: 5rem;
}

.left {
  line-height: 1.5;
  margin-right: auto;
  width: 40%;
}

.right {
  margin-left: auto;
  line-height: 1.5;
  width: 40%;
}

.maxiContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.seconcontainer {
  margin-top: 0;
}
.container.odd {
  flex-direction: row-reverse;
}

.left.odd {
  margin-left: auto;
  text-align: left;
}

.left.even {
  margin-left: auto;
  text-align: right;
}

.right.odd {
  margin-right: auto;
  text-align: right;
}

.right.even {
  margin-right: auto;
  text-align: left;
}

.circle {
  transform: translate(20%, 45%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-box-1);
}

.donut {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-box-1);
  transform: translate(19%, 45%);
}

.donut::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--color-main);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
