.text {
  display: none;
  transition: transform 300ms ease, color 300ms ease;
}

.reveal:hover .text {
  display: block;
  color: var(--color-text);
}

.containerFF {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  align-items: center;
  justify-content: center;
}
