/* size are in SizeBox */
.boxFunFact {
  text-align: center;
  border: solid 2px var(--color-box-1);
  padding: 1rem;
}

.boxOutside {
  background-image: linear-gradient(to bottom right, #27292ba4, #454849b9);
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
