.boxFunFact {
  text-align: center;
  border: solid 2px var(--color-box-1);
  padding: 1rem;
}

.boxFunFact:hover {
  border-color: var(--color-box-2);
}

.boxOutside {
  background-image: linear-gradient(to bottom right, #27292ba4, #454849b9);
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

@media (max-width: 500px) {
  .boxFunFact {
    height: 50%;
    width: 100%;
  }
}
