.buttonScrollTop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.textLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.link {
  color: var(--color-text);
  transition: 0.3s ease-in-out;
}

.link:hover {
  color: var(--color-box-2);
  transition: 0.3s ease-in-out;
}

@media (max-width: 400px) {
  .buttonScrollTop {
    gap: 1rem;
  }
}
