.carousel {
  width: 80%;
  margin: auto;
  margin-top: 3rem;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.projectPhotoText {
  margin-bottom: 1rem;
  text-align: center;
  font-size: x-large;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
