.aboutDescription p {
  line-height: 1.5;
  margin-top: 2rem;
  width: 500px;
}

.linkProdGithub {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .aboutDescription p {
    width: 100%;
  }
}

@media (max-width: 410px) {
  .linkProdGithub {
    gap: 1rem;
  }
}
