.aboutDescription p {
  line-height: 30px;
  margin-top: 2rem;
  width: 500px;
}

@media (max-width: 720px) {
  .aboutDescription {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
}
.show {
  opacity: 1;
  transform: translateY(0);
}

.linkProdGithub {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .aboutDescription p {
    width: 100%;
  }
}

@media (max-width: 410px) {
  .linkProdGithub {
    gap: 1rem;
  }
}
