.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Iceland";
  border-bottom: solid 1px #0d0d0d70;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
}
