.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Iceland";
  border-bottom: solid 1px #0d0d0d70;
  margin-top: 8px;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
  transition: color 0.2s;
}

.nav a.active,
.nav a:hover,
.nav a:focus,
.nav a:active {
  color: var(--color-box-2);
}

@media screen and (max-width: 780px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: #120f0b;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 0.3s;
    background-color: var(--color-box-2);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.3s;
    background-color: var(--color-box-2);
  }
  .navMenu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-image: linear-gradient(to bottom right, #27292bef, #454849e8);
    padding: 10px;
  }

  .navMenu.active {
    left: 0;
  }

  .navMenu li {
    margin: 16px 0;
  }
}
