.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "Iceland";
  border-bottom: solid 1px #0d0d0d70;
  background-color: #616263a3;
  padding-top: 8px;

  position: fixed;

  width: 100%;
  z-index: 1000;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: #ddddda;
  font-size: 20px;
  transition: color 0.2s;
}

.nav a.active,
.nav a:hover,
.nav a:focus,
.nav a:active {
  color: var(--color-box-2);
}

.iconBackgroundcolor {
  cursor: pointer;
}

@media screen and (max-width: 885px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: var(--text-color);
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: var(--color-box-2);
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);

    background-color: var(--color-box-2);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);

    background-color: var(--color-box-2);
  }
  .navMenu {
    margin-top: -2.7rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;

    transition: 0.3s ease-in-out;

    background-image: linear-gradient(to bottom right, #27292bef, #454849e8);

    padding: 10px;
    z-index: 1;
  }

  .navMenu.active {
    right: 0;
  }

  .navMenu li {
    margin: 16px 0;
  }
}
