.large {
  width: 300px;
  height: 300px;
}

.mediumLarge {
  height: 270px;
}

.small {
  width: 130px;
  height: 130px;
}

.smallMedium {
  height: 95px;
}

.sizeProject {
  height: 378px;
  width: 520px;
}

@media (max-width: 550px) {
  .sizeProject {
    height: 100%;
    width: 85%;
    margin: auto;
  }
}
