.StackProjectGrid {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.stackGithub {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.StackUsedText {
  text-align: center;
}

.StackProjectGrid:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stackGithub {
  text-align: center;
}

.boxFunFact {
  text-align: center;
  border: solid 2px var(--color-box-1);
  padding: 1rem;
}

.boxFunFact:hover {
  border-color: var(--color-box-2);
  transition: 0.3s;
}

.boxOutside {
  background-image: linear-gradient(to bottom right, #27292ba4, #454849b9);
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.small {
  width: 130px;
  height: 130px;
}

.smallMedium {
  height: 95px;
}

.text {
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.3s !important;

  font-size: 0px;
}

.reveal:hover .text {
  opacity: 1;
  visibility: visible;
  color: var(--color-text);
  transition: ease-in-out 0.3s !important;

  font-size: 16px;
}

@media (min-width: 1000px) {
  .StackProjectGrid {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    align-items: center !important;
  }
}

@media (max-width: 450px) {
  .StackProjectGrid {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    align-items: center !important;
  }
}

@media (max-width: 310px) {
  .StackProjectGrid {
    display: grid !important;
    grid-template-columns: 1fr !important;
    align-items: center !important;
  }
}
