.StackProjectGrid {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.StackUsedText {
  text-align: center;
}

.StackProjectGrid:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stackGithub {
  text-align: center;
}

@media (min-width: 1000px) {
  .StackProjectGrid {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    align-items: center !important;
  }
}

@media (max-width: 450px) {
  .StackProjectGrid {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    align-items: center !important;
  }
}

@media (max-width: 310px) {
  .StackProjectGrid {
    display: grid !important;
    grid-template-columns: 1fr !important;
    align-items: center !important;
  }
}
